body {
  font-size: 16px;
  letter-spacing: 0.5px;
}

p {
  margin-bottom: 1.5rem;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  color: #ffd000;
}

h2, h3, h4 {
  margin-top: 2rem;
}
